# .gitignore
# Last refresh: 2026-05-18

# macOS:
# Finder thumbnail files and icons.
*~
*.DS_Store
# Finder icons `Icon\r`.
Icon?
# Un-ignore non-macOS icons.
![iI]con[_a-zA-Z0-9]

# Windows:
# Explorer icons cache.
Thumbs.db

# Security:
# Project environment variables (may contain secrets).
.env

# Rust:
# cargo compiled files and executables.
/target
# rustfmt backup files.
*.rs.bk

# Directories, including subdirectories:
# Local logs.
logs/
# PHP Composer modules:
vendor/
# JS/TS Node modules:
node_modules/

# Additional files and directories for this repository:
